<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} Demo
  </h1>
  <div class="container">
    <!--<div id="map" class="map" style="z-index: 0"></div>-->
    <div id="mapid"></div>
    <form class="form-inline" #form="ngForm">
      <div class="form-group">
        <select (change)="selectRoute($event.target.value)">
          <option>Select a Previous Route</option>
          <option *ngFor="let route of routes" value="{{route.coordinate}}">
            {{route.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="route name" [(ngModel)]="routeName" placeholder="Enter route name to save route">
      </div>
      <div>
        <ul>
          <li *ngFor="let direction of directions">
            {{direction.text}}
          </li>
        </ul>
      </div>
      <div style="width: 100%">
        <button type="submit" class="btn btn-primary" (click)="resetVehicle()">Reset Vehicle</button>
      </div>
      <div style="width: 100%">
        <button type="submit" class="btn btn-primary" (click)="startFollow()">Get Location</button>
      </div>
      <div style="width: 100%">
        <button type="submit" class="btn btn-primary" (click)="removeMarkers()">Clear Markers</button>
      </div>
      <div style="width: 100%">
        <button type="submit" class="btn btn-primary" (click)="sendCoordinates()">Go</button>
      </div>
      <div style="width: 100%">
        <button type="submit" class="btn btn-primary" (click)="reuseRecentRoute()">Recent Route</button>
      </div>
    </form>
  </div>

</div>

